<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="defaultStatementTimeout" value="25000" />
        <setting name="logPrefix" value="dao." />
    </settings>

    <typeHandlers>
        <!--自定义处理 JdbcType.TIMESTAMP 和 java Object（Data）-->
        <typeHandler handler="com.yule.querydb.typehandler.MyObjectTimestampTypeHandle"/>
        <!--自定义处理 JdbcType.Clob 和 java Object（String）-->
        <typeHandler handler="com.yule.querydb.typehandler.MyObjectClobTypeHandle"/>
        <!--自定义处理 JdbcType.Blob 和 java Object（String）-->
        <typeHandler handler="com.yule.querydb.typehandler.MyObjectBlobTypeHandle"/>
        <!--自定义处理 JdbcType.LONGVARCHAR 和 java Object（String）-->
        <typeHandler handler="com.yule.querydb.typehandler.MyObjectLongTypeHandle"/>
    </typeHandlers>
</configuration>