<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="defaultStatementTimeout" value="25000" />
        <setting name="logPrefix" value="dao." />
    </settings>

    <typeHandlers>
        <!--自定义处理-->
        <typeHandler handler="com.yule.querydb.typehandler.MyObjectTypeHandle"/>
    </typeHandlers>
</configuration>